<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d84460b2-59fa-463f-8cca-bc012514021e/resourcegroups/fingerprint/providers/Microsoft.Web/sites/UserAuthorized20240404180408</ResourceId>
    <ResourceGroup>fingerprint</ResourceGroup>
    <ApiResourceId>/subscriptions/d84460b2-59fa-463f-8cca-bc012514021e/resourceGroups/fingerprint/providers/Microsoft.ApiManagement/service/TestServiceapi2/apis/UserAuthorized</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://userauthorized20240404180408.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3a828ad0-b5db-4532-af94-ec0f2e09caa0</ProjectGuid>
    <MSDeployServiceURL>userauthorized20240404180408.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UserAuthorized20240404180408</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UserAuthorized20240404180408</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>